<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="menu_grn_import_wizard"
        name="Import GRN Inventory"
        action="eram_inventory_import.action_grn_import_wizard"
        parent="stock.menu_stock_warehouse_mgmt"
        sequence="100"/>

    <menuitem
        id="menu_grn_import_queues"
        name="GRN Import Queues"
        action="eram_inventory_import.action_grn_import_queue"
        parent="stock.menu_stock_warehouse_mgmt"
        sequence="101"/>
</odoo>
